# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Django stuff
*.log
local_settings.py
db.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
